* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,body {
width: 100%;
height: 100%;

}

p{
    /* line-height: 30px; */
    padding: 25px 0;
    /* text-align: justify; */
}


h2
{
margin: 50px 50px 20px;

font-size: 2rem;
color:  #4c6d20;
}

header{

   color:#b0a9a9;

}

.container-fluid
{

padding: 10px 30px;
}

.bg-light {
    background-color: whitesmoke!important;
}


.navbar
{
margin: 0;
}

.navbar-brand
{

    padding: 0;
    color: rgb(154 144 144 / 90%);
}
 .navbar-collapse {

    justify-content: flex-end;
}

.nav-item
{
padding-right: 40px;
padding-left: 2px;
color: #b0a9a9;
}

.nav-item a:hover
{
color: #1CD6CE;

}

 .compose-button,  .edit , .delete
    {   
      
        margin: 10px;
        color: #F5F5F5;
        background: #54e0ff;
        background-image: -webkit-linear-gradient(top, #54e0ff, #4786ad);
        background-image: -ms-linear-gradient(top, #54e0ff, #4786ad);
        padding: 10px 20px;
        border: none;
        border-radius: 12px;
    
    }
    
   .compose-button:hover  {
        background: #a0e8ad;
        background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);
    
    }
 .compose-button
 {

margin: 50px;
 }
    
.create-blog 
{
 
margin: 50px auto;
width: fit-content;

}
.create-blog a{

    text-decoration: none;
    font-size: 2rem;
    background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);
    padding: 20px;
    border-radius: 11px;
}

.create-blog a:hover {
    color: white;
    background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);
}



.footer {

  bottom: 0;
  width: 100%;
  min-height: 76px;
      background-color:#03C988;
    color: white;

}
.footer>p
{
    padding: 35px ;
    padding-bottom: 0;
    font-size: 1rem;
text-align: center;
}

.form-text
{
    width: 80%;
    margin: 0 50px;
   
    border:  solid rgb(219, 213, 213) 2px;
}

fieldset
{
border: none;
}


.home-content
{
padding: 0px 100px ;

}

.home-content>h2
{
padding: 0;
margin: 20px 0;
font-size: 1.3rem;
}

.home-content>p
{
padding: 0;

}

.title
{
height: 10vh;
width: 80%;
margin: 0 50px;
}

.compose-div
{
display: flex;
justify-content: space-between;
margin-top:20px ;
}


.compose-div>input[type="text"]
{

width: 50%;

}


.post
{

display: grid;
   
grid-template-columns: 80% 10% 10%;
grid-template-rows:  auto;
color: black;

}

.post h1{

  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2.5rem;
  color: green;
margin: 50px;

text-align: center;
overflow-wrap: anywhere;
}

.post button{

    background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);

    color: black;
    padding: 10px 15px;
    border-radius: 75px;
    margin: 50px 20px;
}
    
.delete
{
    grid-column: 2/3;
    grid-row: 1/2;
 
}

.edit
{
grid-column: 3/4;
grid-row: 1/2;
}


.post p{
overflow-wrap: break-word;

text-align: justify;
padding: 20px 100px ;

}

.post button:hover {
color: white;
}


main
{

min-height: 78.8vh;
}

.aboutContact-main
{
min-height: 72vh;
}

.home-main

{

min-height: 72vh;
}


.navbar-toggler
{
position: relative;
width: 30px;
height: 30px;
position: relative;
transition: .5s ease-in-out;
top:10px;

}

.navbar-toggler,.navbar-toggler:focus.navbar-toggler:active,.navbar-toggler-icon:focus

{
outline: none;
box-shadow: none;
border: 0;

}

.navbar-toggler span
{
margin: 0;
padding: 0;

}

.toggler-icon
{

display: block;
position: absolute;
height: 4px;
width: 100%;
/* background: #d3531a; */
border-radius: 1px;
opacity: 1;
left:0;
transform: rotate(0deg);
transition: .25s ease-in-out;
}

.middle-bar
{
margin-top: 0;

}

.navbar-toggler .top-bar
{
margin-top: 0;
transform: rotate(135deg);
background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);
}

.navbar-toggler .middle-bar
{
opacity: 0;
filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar

{
margin-top: 0;
transform: rotate(-135deg);
background-image: -webkit-linear-gradient(bottom, #a0e8ad, #3498db);
}

/* state when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar
{
margin-top: -10px;
transform: rotate(0deg);
background-image: -webkit-linear-gradient(top, #a0e8ad, #3498db);
}

.navbar-toggler.collapsed .middle-bar
{
opacity: 1;
filter: alpha(opacity=100);
background-image: -webkit-linear-gradient(bottom, #a0e8ad, #3498db);
}
.navbar-toggler.collapsed .bottom-bar
{
margin-top: 10px;
transform: rotate(0deg);
background-image: -webkit-linear-gradient(left, #a0e8ad, #3498db);
}



.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler.collapsed .toggler-icon
{

background-color:rgb(189 184 184);
}

.home-img
{
width: 100px;
margin-right: 50px;
height: 100px;
align-self: center;
}

.div-home{

display: flex;
flex-direction: row;
overflow-wrap: anywhere;
margin-bottom: 15px;
}

.post-div{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* justify-content: center; */
}

.post-img
{
width: 250px;

margin:0 auto;
border: 4px solid #d5dedb;

}

@media screen and (max-width:992px)
{

.post-img
{
width: 200px;


}

p {
padding: 0px ;
}


    
    h2
    {
text-align: center;
    }
.create-blog a {
   font-size: 1.5rem;
       padding: 15px;

}
    .home-content>h2
    {

        text-align: left;
    }

    .compose-title
    {
        text-align: left;
    }

    .home-content {
    padding: 0px 50px;
}

.post button {

    margin: 50px 0;
}
.post h1 {

    font-size: 2.2rem;
 text-align: left;
}

.post p
{

font-size: 1rem;
padding: 20px 35px 0;
}
}

@media screen and (max-width:568px)
{


h2 {
    margin: 20px 50px;
    font-size: 1.8rem;

}
p {
padding: 25px 0;
}
a
{
font-size: 0.8rem;
}


    .home-content>h2
    {

       font-size: 1.2rem;
       margin: 10px 0;
    }

    .compose-title
    {
        font-size: 1.5rem;
    }

/* input[type="text"] {
  position: relative;
    margin: 0;
    left :50px;
}

.form-text {
    position: relative;
    margin: 0 ;
    left :50px;
} */

.compose-button
{
position: relative;
display: block;
margin: 30px auto;
}
.home-content {
    padding: 0px 30px;
}

.post h1 {

    font-size: 1.7rem;
 text-align: left;
 margin: 35px 35px 0;
}


.post button {

    padding: 4px 7px;
    margin: 35px 0;



}
.edit
{
 position: relative;
    left: -20px;
}

.delete
{
 position: relative;
    left: -30px;
}
.footer>p {
 
    font-size: 0.8rem;

}

.create-blog a {
   font-size: 1rem;
   padding: 13px;

}
.post-img{
 margin: 0 35px;
}
   
   
}




@media screen and (max-width:480px)
{



.create-blog {
 text-align: center;


}


.create-blog a{
 
display: inline-block;

}

.compose-div
{
flex-direction: column;
}

.compose-div>input[type="text"] {

width: 100%;
border: none;
margin: 20px 0;
text-align: center;
}

.home-img
{
width: 25%;
}
}

